# Excluir archivos compilados y empaquetados
target/
src/test/
*.class
*.jar
*.db
*.log
*.propeties

# Excluir configuraciones personales de NetBeans
nbproject/private/
build/
dist/

# Archivos del sistema operativo
Thumbs.db
.DS_Store